<!--views/partials/footer.ejs-->

<footer>
    <section class="container-fluid footer dark mt-5">
        <div class="container text-center">
            <h2 class="font-weight-bold marque pt-3 pb-0">Cooking'Lab</h2>
            <small>3 rue des Épicuriens</small> <br>
            <small><a class="mail" href="mailto:contact@cooking-lab.fr" aria-label="envoyer un email à cooking lab">Nous envoyer un mail</a></small>
        </div>
        <div class="text-center my-3">
            <i class="fab fa-facebook-f fa-2x mx-2 logo-footer"></i>
            <i class="fab fa-instagram fa-2x mx-2 logo-footer"></i>
            <i class="fab fa-linkedin-in fa-2x mx-2 logo-footer"></i>
        </div>
        <div class="text-center">
            <small>ALEJENADA  -  <i class="far fa-copyright"></i>Copyright 2018  -  Tous droits réservés - Certifié W3C</small>
        </div>
    </section>
</footer>