<!--views/partials/header.ejs-->
<header>
    <nav class="navbar navbar-expand-lg container-fluid bg-light fixed-top">
        <a class="navbar-brand " href="#">
            <img src="img/logo.png" width="80" height="80" class="d-inline-block align-top" alt="Logo marmite">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="dark text-uppercase"><i class="fas fa-align-justify fa-lg"></i> Menu</span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-around align-items-center">
                <li class="nav-item">
                    <a class="nav-link display-4 orange font-weight-bold" href="/" aria-label="retour à l'accueil">Cooking'Lab</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link orange font-weight-bold" href="/" aria-label="retour à l'accueil">Accueil</a>
                </li>
                <% if(role !== 'cuisinier') { %>
                <li class="nav-item">
                    <a class="nav-link orange font-weight-bold" href="/ateliersPublicsRoute" aria-label="aller à la page des ateliers">Nos ateliers de cuisine</a>
                </li>
                <% } %>
                <% if(id && role === 'cuisinier') { %>
                <li class="nav-item">
                    <a class="nav-link orange font-weight-bold" href="/ateliersRoute" aria-label="aller à la page de gestion des ateliers">Gérer mes ateliers</a>
                </li>
                <% } %>
                <% if(!id && !username) { %>
                <li class="nav-item">
                    <a href="#inscription-utilisateur" data-toggle="modal" class="nav-item orange font-weight-bold" aria-label="aller sur la page d'inscription">Inscription</a>
                </li>
                <li class="nav-item ml-2">
                    <a href="#connexion-utilisateur" data-toggle="modal" class="nav-item orange font-weight-bold" aria-label="aller à la page d'authentification">Connexion</a>
                </li>
                <% } %>
                <% if(id && username) { %>
                <li>
                    <a href="/reservationsRoute/mesAteliers" class="font-weight-bold pimky m-0">Mes ateliers</a>
                </li>
                <li>
                    <p class="font-weight-bold pimky m-0">Bonjour <%= username %> !</p>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link pink font-weight-bold" aria-label="se déconnecter de la session">Déconnexion</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>