<!--views/partials/header.ejs-->
<nav class="navbar navbar-expand-lg container-fluid d-flex justify-content-around">
    <a class="navbar-brand " href="#">
        <img src="img/logo.png" width="80" height="80" class="d-inline-block align-top" alt="Logo marmite"> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav w-100 justify-content-around align-items-center">
            <li class="nav-item">
                <a class="nav-link display-4 orange" href="#">Cooking'Lab</a>
            </li>
            <li class="nav-item">
                <a class="nav-link orange" href="#">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link orange" href="/ateliersPublicsRoute">Nos ateliers</a>
            </li>
            <% if(id && role === 'cuisinier') { %>
            <li class="nav-item">
                <a class="nav-link orange" href="/ateliersRoute">Je suis cuisinier</a>
            </li>
            <% } %>
            <% if(!id && !username) { %>
            <li class="nav-item">
                <a href="#inscription-utilisateur" data-toggle="modal" class="nav-item btn btn-outline-success">Inscription</a>
            </li>
            <li class="nav-item ml-2">
                   
                <a href="#connexion-utilisateur" data-toggle="modal" class="nav-item btn btn-outline-primary"><p>Déjà inscrit ?</p>Connexion</a>
            </li>
            <% } %>
            <% if(id && username) { %>
            <li>
                <p>Bonjour : <%= username %></p>
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link pink">Deconnexion</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>