body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

/* orange button */
.orange {
  color: #f3671f;
}
 
/* pink button */
.pink {
  border : 1px solid #d05c62;
  border-radius : 6px ;
  background-color : #d05c62 ;
  color:white;
}

/* part one */
.partone {
  height:100vh;
  background:url("../img/uploads/meringue.jpg"), no-repeat, top;

}


.inactive-card {
  filter: grayscale(100%);
}
