body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#overlay{
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.5);
}
/* orange  */
.orange {
  color: #f3671f;
}
 
/* Pink Title */
.pimky {
  color: #d05c62;
}
 
/* pink button */
.pink {
  border : 1px solid #d05c62;
  border-radius : 6px ;
  background-color : #d05c62 ;
  color:white;
}
.dark {
  color: #401c1e;
}
  

/* part one */
.partone {
  height:100vh;
  background: url("../img/photo1.png") no-repeat fixed top;
  background-size:cover;

}

.footer, .populaire {
  background-image: linear-gradient(to bottom, #f3671f, #ee6137, #e75d48, #dd5c56, #d05c62);

}
.marque {
  font-size: 30px;
}
.mail {
  text-decoration: none;

}

/* unvisited link */
.mail:link {
  color: #401c1e;
}

/* mouse over link */
.mail:hover {
  color: fuchsia;
}


.inactive-card {
  filter: grayscale(100%);
}
.scroll_desc{
  overflow-y: scroll;
}