<form action="/ateliersRoute/save" method="post">
    <label for="titre">Titre de l'atelier</label>
    <input type="text" name="titre" id="titre">
    <label for="date">Date de debut de l'atelier</label>
    <input type="text" name="date" id="date">
    <label for="duree">Durée de l'atelier</label>
    <input type="text" name="duree" id="duree">
    <label for="nb_place_disp">nombre de place disponible</label>
    <input type="text" name="nb_place_disp" id="nb_place_disp">
    <label for="nb_place_res">nombre de place restante</label>
    <input type="text" name="nb_place_res" id="nb_place_res">
    <label for="prix">prix</label>
    <input type="number" name="prix" id="prix">
    <button type="submit">Envoyer</button>
</form>